@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 10rem;
}

#container-clock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* align-content: center; */
    /* background-color: red; */
}

.clock-text {
    /* background-color: yellow; */
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
}

.container {
    font-size: 3.5rem;
    text-align: center;
}

.footer { 
    margin-top: auto;
    text-align: center;

}