@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* h1 {
    text-align: center;
    margin-top: 10rem;
} */
#container-date {
    margin-top: 4.5rem;
}

#container-clock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* align-content: center; */
    /* background-color: red; */
}

.clock-text {
    /* background-color: yellow; */
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
}

.container {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.footer { 
    margin-top: auto;
    text-align: center;
    background-color: rgba(75, 75, 75, 0.807);
    color:#FEF2BF;
}

@media all and (max-width: 768px) {
    .footer {
        transform: translateY(-100%);
    }
}

a {
/* margin: 5px; */
padding: 0 5px;
}

a:link {
background-color: none;
color: #FEF2BF;
text-decoration: none;
}

a:visited {
color: #FEF2BF;
text-decoration: none;
}

a:hover {
background-color: #065ab4c6;
color: #FEF2BF;
text-decoration: none;
border-radius: 5px;
}

a:active {
background-color: #065ab4c6;
text-decoration: none;
} 

.alarm {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
    padding: 0;
}

/* .container-alarm houses .alarm-shown, .set-alarm and .countdown */
.container-alarm {
    padding: 1rem 5px;
    justify-content: center;
}

/* always shown, once clicked will show .set-alarm */
.alarm-shown {
    display: flex;
}

/* once user submits alarm will display:none then show .countdown */
.set-alarm {
    display: none;
}

/* will show once user sets .set-alarm */
.countdown {
    display: none;
}

.clock-animate {
    transition: width 1s, height 1s;
}

.clock-animate:hover {
    width: 45px;
    height: 45px;
}

#alarm-hours, #alarm-minutes {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
}

.button {
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

.button-container {
    text-align: center; 
    margin-top: 1rem;
}

.ampm {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

form {
    text-align: center;
}